body{
	display: flex;
	flex-direction: column;
}
.header, .footer{
	height: 50px;
	background-color: green;
}
.content{
	flex:1;
}
.media {
	display: flex;
	align-items: flex-start;
	border: 1px solid black;
	margin: 30px;
}
.media-body {
	flex: 1;
}
img{
	height: 30px;
	width: 40px;
}
