 body{
    margin: 0;
    padding: 0;
}

div{
    height: 100px;
    width: 200px;
    background-color: red;
    margin: 10px 10px 10px 10px;
}
div.text{
	background: none;
	margin-top: 10px;
	height: 100%;
	width:100%;
}

#d2 {
    background-color: green;
}

.first {
    background-color: blue;
}
