 body{
    margin: 0;
    padding: 0;
}

div{
    height: 100px;
    width: 200px;
    background-color: red;
    margin: 10px 10px 10px 10px;
}

#d2 {
    background-color: green;
}

.first {
    background-color: blue;
}
